[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
matplotlib = "*"
pandas = "*"
cython = "*"
nltk = "*"
gensim = "*"
mecab-python = {version = "0.996.5", sys_platform = "== 'linux'"}
mecab-python-windows = {version = "0.996.5", sys_platform = "== 'win32'"}
torch = {file = "https://download.pytorch.org/whl/cpu/torch-1.5.0-cp37-cp37m-linux_x86_64.whl", markers="sys_platform == 'linux'"}
torch_win = {file = "https://download.pytorch.org/whl/cu102/torch-1.5.0-cp37-cp37m-win_amd64.whl", markers="sys_platform == 'win32'"}
torchvision = {file = "https://download.pytorch.org/whl/cu102/torchvision-0.6.0-cp37-cp37m-linux_x86_64.whl", markers="sys_platform == 'linux'"}
torchvision_win = {file = "https://download.pytorch.org/whl/cu102/torchvision-0.6.0-cp37-cp37m-win_amd64.whl", markers="sys_platform == 'win32'"}
torchsummary = "*"
mecab-python3 = "==0.996.5"

[requires]
python_version = "3.7"
